{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "firefox": 57
        }
      }
    ],
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
  ]
}
