{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "firefox": 57
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {
      decoratorsBeforeExport: true,
    }],
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "h",
      "pragmaFrag": "Fragment",
    }],
  ]
}
