# Ignore build artifacts and other files.
.DS_Store
yarn.lock
extension/dist
node_modules

# some private utils etc.
reference
.vscode

# thonk..
src/config.js

# raw files used to generate readme images
gh-images/raw

# build artifact
spotify-lyrics-popup.zip